asgiref==3.3.1
astroid==2.5
colorama==0.4.4
Django==3.1.7
django-crispy-forms==1.11.1
django-debug-toolbar==3.2
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
Pillow==8.1.0
pylint==2.7.1
pylint-django==2.4.2
pylint-plugin-utils==0.6
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
